version: "3.3"
networks: 
    mongo-compose-network:
      name: mongo-compose-network
      driver: bridge
volumes:
  MongoDB:
services:
  mongo:
    image: mongo
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - 27017:27017
    volumes:
      - MongoDB:/data/db
    networks:
      - mongo-compose-network
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: admin   
      ME_CONFIG_BASICAUTH_PASSWORD: admin
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
    links:
      - mongo
    networks:
      - mongo-compose-network
  rest_api:
    container_name: "rest_api"
    build: ./backend/
    ports:
      - "4000:4000"
    networks:
      - mongo-compose-network
    links:
      - mongo
  web_client:
    container_name: "web_client"
    image: "web_client"
    ports:
      - "80:80"


    